# Node.js / Next.js (Frontend)
frontend/node_modules/
frontend/.next/
frontend/.venv.local
frontend/.venv.development.local
frontend/.venv.production.local
frontend/.venv.test.local
frontend/package-lock.json
frontend/yarn.lock
frontend/.vscode/

# Python
# Fast-Api
# Dignosis
diagnosis/venv/
diagnosis/__pycache__/
diagnosis/*.pyc
diagnosis/.venv
diagnosis/.venv.*.local
diagnosis/.vscode/

# Detection
detection/venv/
detection/__pycache__/
detection/*.pyc
detection/.venv
detection/.venv.*.local
detection/.vscode/

# Django
# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.venv
backend/.venv.*.local
backend/.vscode/


# System files
.DS_Store
Thumbs.db

# Logs
*.log

#Aws-conf-files
aws/

# IDE-specific files
.idea/
.vscode/
